<style>
  nav{
      font-family: 'Fira Mono', monospace !important;
  }
</style>

<div id="navbar" style="display: none;">
<table>
  <tr>
    <td><a href="{{site.baseurl}}/"><nav>Login</nav></a></td>
    <td><a href="{{site.baseurl}}/outline"><nav>Project Plan/Assignments</nav></a></td>
    <td><a href="{{site.baseurl}}/food"><nav>Sreeja</nav></a></td>
    <td><a href="{{site.baseurl}}/sports"><nav>Dhruva</nav></a></td>
    <td><a href="{{site.baseurl}}/activities"><nav>Mani</nav></a></td>
    <td><a href="{{site.baseurl}}/family-night"><nav>Tirth</nav></a></td>
    <td><a href="{{site.baseurl}}/gallery"><nav>Ekam</nav></a></td>
  </tr>
</table>
</div>

<script>
const navbar = document.querySelector('#navbar');

function showNavbar() {
  navbar.style.display = 'block';
}

function hideNavbar() {
  navbar.style.display = 'none';
}

// Show the navbar when the user logs in
// You can call the showNavbar() function when the user logs in

// Hide the navbar when the user logs out
// You can call the hideNavbar() function when the user logs out
</script>