<style>
  #navigation{
      font-family: 'Fira Mono', monospace !important;
      min-width: fit-content !important;
      max-height: fit-content !important;
  }
  .home, .bighome{
    text-align: center;
  }
  
  #logOut{
    min-width: fit-content;
    background-color: rgb(223, 109, 109);
    max-height: 30px !important;
    padding: 5px;
    margin: 0px !important;
  }

</style>

<table id = "navigation">
  <tr class = bighome>
      <td class = "home"><a href="{{site.baseurl}}/leaderboard"><nav>Leaderboard</nav></a></td>
      <td class = "home"><a href="{{site.baseurl}}/game"><nav>Game</nav></a></td>
      <td class = "home"><a href="{{site.baseurl}}/outline"><nav>About</nav></a></td>
      <td class = "home"><a href="{{site.baseurl}}/userinfo"><nav>User Stats</nav></a></td>
      <td class = "home"><button id = "logOut">Log out</button></td>
  </tr>
</table>

<script>
  let logOut = document.getElementById("logOut")
  logOut.onclick = function exit() {
    localStorage.setItem("userLoggedIn", "false");
    localStorage.setItem("userid", "null");
    document.getElementById("navigation").style.visibility = "hidden";
    document.getElementById("lognav").style.visibility = "visible";
    window.location.href = "{{site.baseurl}}/";
}
</script>