<style>
  nav{
      font-family: 'Fira Mono', monospace !important;
  }
</style>

<table>
  <tr>
      <td><a href="{{site.baseurl}}/"><nav>Login</nav></a></td>
      <td><a href="{{site.baseurl}}/leaderboard"><nav>Leaderboard</nav></a></td>
      <td><a href="{{site.baseurl}}/game"><nav>Game</nav></a></td>
      <td><a href="{{site.baseurl}}/outline"><nav>Project Plan/Assignments</nav></a></td>
      <td><a href="{{site.baseurl}}/activities"><nav>Mani</nav></a></td>
      <td><a href="{{site.baseurl}}/family-night"><nav>Tirth</nav></a></td>
      <td><a href="{{site.baseurl}}/gallery"><nav>Ekam</nav></a></td>
  </tr>
</table>