<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #efd25f;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(35, 50, 163);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #b29c41;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/outline">Project Info</a></li>
  <li><a href="/">Code Crunch</a></li>
  <li><a href="/">Instructions</a></li>
  <li><a href="/">Misc</a></li>
  <li><a href="/">Login/Sign-Up</a></li>
</ul>

</body>
</html>